@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
  overflow-x: hidden;
}

#top-bar {
  background: #70dee2;
  width: 100vw;
  max-width: 100%;
  top: 0;
  left: 0;
  height: 5%;
  padding: 20px;
  position: absolute;
  z-index: 10;
}

#top-bar .table {
  width: 800px;
  margin: 0 auto;
}

#top-bar .table ul#buttons {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-bar .table ul li {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#top-bar .table ul li button {
  border: none;
  padding: 5px;
  cursor: pointer;
}

#top-bar .table ul li button:hover {
  cursor: pointer;
  background: #fff;
}

#window {
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app {
  top: 15%;
  width: 80vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#app .card {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 10px 100px 10px;
  min-width: 450px;
  max-width: 450px;
  z-index: 1;
  max-height: 900px;
}

#app .card:hover .card__img img {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

#app .card .card__hover {
  color: #fff;
  border: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
}

#app .card__img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 3;
}

#app .card__img img {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#app .card h1 {
  text-align: center;
  font-family: 'lora', serif;
  font-weight: 100;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 2em;
}

#app .card__text {
  padding-right: 20px;
  text-align: right;
  font-size: 11px;
  font-family: 'Cabin', sans-serif;
}

#app .card__text:before {
  content: '------';
  margin: 0 0.5rem 0 0;
  letter-spacing: -0.15rem;
}

#app .card__description {
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-family: 'lora', serif;
  font-size: 12px;
}

#port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background-color: #fff;
  z-index: 9;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#port.card__open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  opacity: 1;
}

#port.card__open h1 {
  margin: auto;
  width: 500px;
  font-family: 'lora', serif;
  font-weight: 100;
  margin-bottom: 7px;
  font-size: 30px;
  line-height: 2em;
}

#port.card__open p {
  margin: auto;
  font-family: 'Cabin', sans-serif;
  width: 500px;
  text-align: justify;
}

#port.card__open .info__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 500px;
}

#port.card__open .info__about .persons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#port.card__open .info__about .persons h2 {
  font-family: 'lora', serif;
  font-weight: 100;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 2em;
}

#port.card__open .info__about .persons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  opacity: 1;
}

#port.card__open .info__about .persons ul li {
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#port.card__open .info__about .persons ul li:nth-child(2n) {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#port.card__open .info__about .persons ul li:nth-child(4n) {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

#port.card__open .info__about .persons ul li:nth-child(5n) {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

#port.card__open .info__about .persons ul li:hover {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#port.card__open .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#port.card__open .close:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#port.card__open .close:before, #port.card__open .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

#port.card__open .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#port.card__open .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#documentation {
  position: fixed;
  color: #fff;
  background: #000;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 20;
}
/*# sourceMappingURL=style.css.map */